body {
  background-color: #e5e5e5;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.top {
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #cf2b2b;
  /* margin: 0 auto; */
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.top > div{
  margin-left: 15px;
}
.top > span{
  margin-right: 15px;
}
.top img{
  width: 55px;
  height: 55px;
}
.top h1 {
  font-size: 36px;
}
.top p {
  margin-top: 3px;
  font-size: 13.5px;
  
}
.righteous, .food>h1{
  font-family: 'Righteous', cursive;
}
.main {
  width: 100%;
  margin: 102px 0px;
  z-index: -1;
  /* overflow: hidden; */
}

.menu, .menu-main, .menu-drink {
  /* Melhor opção (grid) para utilizar junto com o overflow para não perder
     o tamanho das divs*/
  display: grid;
  grid-auto-flow: column;
  overflow: scroll;
  /* overscroll-behavior-inline: contain; */
  margin-left: 15px;
  gap: 16px;
}
.starter{
    /* Melhor opção (grid) para utilizar junto com o overflow para não perder
     o tamanho das divs*/
     display: grid;
     grid-auto-flow: column;
     overflow: scroll;
     /* overscroll-behavior-inline: contain; */
     margin-left: 15px;
     gap: 16px;
}
.food {
  width: 100%;
}
.last{
  margin-right: 15px;
}
.space{
  margin-top: 14px;
}
.check{
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 50%;
  background-color: #32B72F;
}
.hidden{
  display: none;
}
.dish, .drink,.main-dish {
  box-sizing: border-box;
  width: 162px;
  height: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  position: relative;
  border-radius: 10px;
}
.teste{
  box-sizing: border-box;
  width: 162px;
  height: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  position: relative;
  border-radius: 10px;
}
/* Ao escolher o prato vai criar uma borda */
.chosed {
  border: 3.5px solid #32B72F;
}
.dish > img, .main-dish > img, .drink> img {
  width: 134px;
  height: 87px;
  margin: 12px 0px 8px 0;
  border-radius: 5px;
  box-shadow: 4px 4px #e5e5e5;
}
.teste >img{
  width: 134px;
  height: 87px;
  margin: 12px 0px 8px 0;
  border-radius: 5px;
  box-shadow: 4px 4px #e5e5e5;
}
.pimenta {
  width: 100%;
  height: 12px;
  display: flex;
  margin-bottom: 12px;
}
.pimenta > p {
  font-size: 13.5px;
  font-weight: 500;
  margin-right: 6px;
}
.food > h1 {
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 14px;
}

.menu-info {
  width: 134px;
  font-size: 15px;
  /* background-color: red; */
  /* margin-bottom: 13px; */
}

.price {
  background-color: #cf2b2b;
  /* text-align: center; */
  width: 100%;
  position: absolute;
  height: 24px;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.price > p {
  font-size: 14.5px;
  color: #ffffff;
  margin-top: 2px;
  text-align: center;
}
.menu-container {
  width: 100%;
  height: 100px;
  border-radius: 50%;
  /* background-color: red; */
}
.menu-container > p {
  text-align: center;
  font-size: 15.5px;
  font-weight: 500;
}
.menu-container > span {
  display: block;
  font-size: 12.5px;
  margin: 8.5px 0;
  line-height: 13.5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  right: 0;
}
.button{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 65%;
  width: 80%;
  
}

button{
  color: #ffffff;
  background-color: #CBCBCB;
  font-size: 16px;
  border-radius: 10px;
  line-height: 27px;
  width: 100%;
}

.done{
  width: 80%;
  background-color: #50D074;
}
.blur{
filter: blur(8px);
}

.checkOut{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  align-self: center;
  align-content: center;
  height: 200px;
  background-color: #50D074;
  position: fixed;
  top: 40%;
  left: 10%;
  z-index: 1;
}